<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
<script src="https://use.fontawesome.com/753722e90c.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Image Upload</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h1>Filter Image Records</h1>
        <div class="col-md-12">
          <form
            action="/search/"
            id="EmployeeForm"
            class="form-horizontal"
            method="post"
            role="form"
          >
            <div class="col-md-3">
              <div class="form-group">
                <label for="name" class="col-md-12 control-label"
                  >By Name</label
                >
                <div class="col-md-12">
                  <input
                    type="text"
                    id="searchName"
                    class="form-control"
                    name="fltrName"
                    placeholder="Enter Name"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="email" class="col-md-12 control-label"
                  >By Email</label
                >
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    name="fltrEmail"
                    placeholder="Enter Email"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="email" class="col-md-12 control-label"
                  >By Image Name</label
                >
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    name="fltrImage"
                    placeholder="Enter Image Name"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="email" class="col-md-12 control-label"
                  >&nbsp;</label
                >

                <div class="col-md-12">
                  <input
                    type="submit"
                    class="form-control btn btn-primary"
                    name="submit"
                    placeholder="Filter"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <br /><br />
        <h1><%= title %></h1>
        <table class="table table-striped table-primary">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Profile Image</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <%if (records.length>0){ %> <% records.forEach(function(row){ %>
            <tr>
              <td><%= row.name %></td>
              <td><%= row.email %></td>
              <td>
                <% if(row.image){ %>
                <img src="images/<%= row.image%>" width="80" />
                <p><%= row.image %></p>
                <% } %>
              </td>
              <td>
                <a href="images/<%= row.image%>">
                <button
                  class="btn btn-sm btn-info"
                  title="View"
                  style="margin-right: 5px;"
                >view
                </button>
              </a>

                <a href="images/<%= row.image%>" download>
                <button
                class="btn btn-sm btn-primary"
                title="View"
                style="margin-right: 5px;"
              >Dwonload
              </button>
              </a>
              </td>
            </tr>
            <% })}else{ %>
            <tr>
              <td colspan="6">No Record Found</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% if(error !=''){%>
        <div class="alert alert-danger">
          <strong>Error !</strong> <%= error %>
        </div>
        <% } %> <% if(success !=''){%>
        <div class="alert alert-success">
          <strong>Success !</strong> <%= success %>
        </div>
        <% } %>
        <div
          id="signupbox"
          style="margin-top: 50px"
          class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
        >
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">Image Upload Form</div>
            </div>
            <div class="panel-body">
              <form
                action="/home"
                id="EmployeeForm"
                class="form-horizontal"
                method="post"
                role="form"
                enctype="multipart/form-data"
              >
                <div
                  id="signupalert"
                  style="display: none"
                  class="alert alert-danger"
                >
                  <p>Error:</p>
                  <span></span>
                </div>

                <div class="form-group">
                  <label for="firstname" class="col-md-3 control-label"
                    >Name</label
                  >
                  <div class="col-md-9">
                    <input
                      type="text"
                      class="form-control"
                      name="uname"
                      placeholder="Enter Your Name"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="email" class="col-md-3 control-label"
                    >Email</label
                  >
                  <div class="col-md-9">
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      placeholder="Email Address"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="icode" class="col-md-3 control-label">
                    Profile Image</label
                  >
                  <div class="col-md-9">
                    <input type="file" class="form-control" name="file" />
                  </div>
                </div>
                

                <div class="form-group">
                  <!-- Button -->
                  <div class="col-md-offset-3 col-md-9">
                    <input
                      type="submit"
                      name="submit"
                      value="submit"
                      class="btn btn-primary"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
